@layer s2u.base {
  /* Self-hosted faces (spec 5): written by tools/fetch-fonts.mjs, latin subsets, OFL 1.1 (licences in /fonts/). */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400 500;
    font-display: swap;
    src: url('/fonts/jetbrains-mono-normal-variable-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400 600;
    font-display: swap;
    src: url('/fonts/oswald-normal-variable-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Saira Condensed';
    font-style: italic;
    font-weight: 800;
    font-stretch: 62.5%;
    font-display: swap;
    src: url('/fonts/saira-italic-800-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* FALLBACKS: paste the output of `npm run fonts:metrics -w shared` below this line */
  @font-face {
    font-family: 'Oswald Fallback';
    font-weight: 400 600;
    font-display: swap;
    src: local('Arial Narrow');
    size-adjust: 118.57%;
    ascent-override: 100.62%;
    descent-override: 24.37%;
    line-gap-override: 0.00%;
  }
  @font-face {
    font-family: 'Saira Condensed Fallback';
    font-weight: 800;
    font-style: italic;
    font-display: swap;
    src: local('Arial Narrow Bold Italic');
    size-adjust: 86.71%;
    ascent-override: 130.89%;
    descent-override: 50.63%;
    line-gap-override: 0.00%;
  }
  @font-face {
    font-family: 'JetBrains Mono Fallback';
    font-weight: 400 500;
    font-display: swap;
    src: local('Consolas');
    size-adjust: 109.13%;
    ascent-override: 93.47%;
    descent-override: 27.49%;
    line-gap-override: 0.00%;
  }
  /* fallback metrics computed 2026-09-27 by tools/font-metrics.mjs */
}
