/research/
/ghidra_proj/
/game/
*.iso
*.7z
/build/
.vs/
/out/
/tools/
__pycache__/
/recomp/output/
/recomp/*.log
/third_party/ps2recomp/build*/
*.log
/dist/
/logs/
/server/horizon-server-database-middleware/
/server/horizon-docker/
/server/logs/
/server/*.log
/server/horizon-server/**/bin/
/server/horizon-server/**/obj/
/server/config/simulated.db
imgui.ini
